/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,700&display=swap'); */

body {
    background: linear-gradient( to right, #F1FAEE 0%, #F1FAEE 50%, #F1FAEE 75%, #E63946 75%, #E63946 100%);
}

.test {
    border: red 5px solid;
}

.buttons {
    color: #1D3557;
}


/* Green */

#top_buttons {
    float: right;
    display: flex;
    align-items: flex-start;
    border: red 5px solid;
    justify-content: space-around;
    width: 50%;
}

#user {
    justify-content: right;
    float: right;
    display: flex;
    width: 30%;
}

#DIV1 {
    display: flex;
    background-color: blue;
}

#DIV2 {
    background-color: green;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 28px;
    height: 50px;
    width: 50px;
}